@import "colors";
@import "vertical-window";
@import "notification";
@import "media";

.temp {}

window.bar {
    font-family: "FiraCode Nerd Font";
    font-size: 16px;
    color: $base0D;
    font-weight: bold;
    border-radius: 10px;
    opacity: 0.9;
}

.workspaces .img {
    min-width: 25px;
    min-height: 25px;
    background-size: cover;
    background-position: center;
}

.workspaces .icon {
    font-size: 24px;
    color: $base09;
}

.workspaces-inner {
    background: $base00;
    border-radius: 50px;
}


.workspaces button {
    background: transparent;
    color: $base09;
    font-family: "FiraCode Nerd Font";
    border-width: 0;
    border-radius: 0;
    box-shadow: none;
}

.workspaces button.focused {
    font-family: "FiraCode Nerd Font";
    border-bottom: 2px solid $base02;
}

.app-item:focus {
    background: $base00;
}

.track-title-wrapper {
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 50px;
  color: $base08;
  background: $base00;
}

.track-title-icon {
  padding-top: 2px;
  padding-right: 10px;
  font-size: 20px;
}

.battery-wrapper {
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 50px;
  color: $base0B;
  background: $base00;

  .icon {
    font-size: 20px;
  }
}

.time-wrapper {
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 50px;
  color: $base0E;
  background: $base00;

  .icon {
    font-size: 20px;
  }
}
